package components

templ Root(contents templ.Component) {
	<html>
		<head>
			<meta name="htmx-config" content='{"defaultSwapStyle":"outerHTML"}'></meta>
			<link rel="stylesheet" type="text/css" href="/static/styles.css"></link>
			<script src="/static/htmx-2.0.4.js"></script>
		</head>
		<body>
			@contents
		</body>
	</html>
}
